<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="./public/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq-QCNn1Xil-SqouknN5IJ64J7I47gfr8&callback=initMap"
    async defer></script>
  </body>
</html>