<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq-QCNn1Xil-SqouknN5IJ64J7I47gfr8&callback=initMap"
    async defer></script>
  </head>
  <body>
    <div id="map"></div>

  </body>
</html>